body {
    font-family: sans-serif;
}

.link-header{
    font-family: Comic Sans Ms;
}

.fio1{
    font-family: Comic Sans Ms ;
}

.telefon1{
    color: cadetblue;
    font-family:  Cursive;
}

.lol2 {
    background-color: teal;
    width: 200px;
}
